body{
    background: rgb(223, 233, 248);
}

header{
    width: 100%;
    height: 260px;
    padding: 0px 0px;
    border: 0px;
    margin: 0px 0px 0px 0px;
    background-color: rgb(158, 190, 238);
}

nav{
    height: 100%;
    padding: 0px 500px;
}

.restaurante{
    background-color: rgb(121, 66, 209);
    font-size: 5em;
    text-align: center;
}

.restaurante1{
    background-color: rgb(121, 66, 209);
    font-size: 5em;
    line-height: initial;
    text-align: center;
}

.p1{
    font-size: 2em;
    text-align: center;
}
.p12{
    padding: 30px 30px;
    border:0px;
    margin: 0px;
    font-size: 2em;
    text-align: justify;
    line-height: initial;
}
.p123{
    padding: 30px 30px;
    border:0px;
    margin: 0px;
    font-size: 1.3em;
    text-align: justify;
    line-height: initial;
}
.fig{
    height: 100%;
    border: 200px;
    padding: 100px 500 px;
    margin: 100px 100px 80px 100px;
    text-align: center;
    
}
.footer{
    background-color: rgb(158, 190, 238);
    text-align: left;
    padding-left: 20px;
    font-size: 2em;
}

